@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none;
    color          : white;
}

a:hover {
    color: rgb(251, 255, 0);
}

.color1 {
    color: rgb(1, 67, 70);
}

.color2 {
    color: rgb(228, 44, 34);
}

.fsp {
    letter-spacing: 2px;
}

.ts {
    text-shadow: 2px 2px 5px black;
}

#privatehome {
    background-image   : url('../img/kerala5.jpg');
    background-size    : cover;
    background-position: center center;
    background-repeat  : no-repeat;
    background-color   : rgb(217, 255, 0);
    color              : white;
    min-height         : 80vh;
}

#privatehome a {
    color: white;
}

.privatehome__content {
    margin-top: 100px;
}

.privatehome__content h3 {
    letter-spacing: 2px;
    font-size     : 50px !important;
}

/* pop up  */

#start {
    background-image : url('../img/kerala6.jpg');
    background-size  : cover;
    background-repeat: no-repeat;
    background-color : rgb(217, 255, 0);
    min-height       : 100vh;
}

.start__con {
    padding: 100px 0;
}

.start__card {
    box-shadow     : 0px 0px 22px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    backdrop-filter: contrast(30%);
    border-radius  : 8px;
    padding        : 40px;
}

.start__card:hover {
    box-shadow: 10px 10px 20px rgba(0, 255, 242, 0.76);
}

.start__card img:hover {
    transform: rotate(-20deg);
}

.start__card img {
    height: 150px;
    width : 150px;
}

.inspire__img1 {
    background-image: url('../img/start5.jpg');
    grid-area       : a;
}

.inspire__img2 {
    background-image: url('../img/start4.jpg');
    grid-area       : b;
}

.inspire__img3 {
    background-image: url('../img/start2.jpg');
    grid-area       : c;
}

.inspire__img4 {
    background-image: url('../img/start3.jpg');
    grid-area       : d;
}

.inspire__img5 {
    background-image: url('../img/start6.jpg');
    grid-area       : e;
}

.inspire__img6 {
    background-image: url('../img/start1.jpg');
    grid-area       : f;
}

.inspire__img {
    background-size    : cover;
    background-position: center center;
    height             : 240px;
    overflow           : hidden;
}

.inspire__img--dis {
    margin-top: 185px;
    transition: .5s;
    overflow: hidden;
}

.inspire__img:hover .inspire__img--dis {
    margin-top: 0px;
}
.inspire__img:hover .inspire__img--dis{
    background-color: rgba(0, 0, 0, 0.418);
}
.inspire__grid {
    display              : grid;
    grid-template-rows   : 2;
    grid-template-columns: 18;
    grid-template-areas  :
        'a a a a a a a a a a a a b b b c c c'
        'd d d e e e f f f f f f f f f f f f';
    grid-gap: 2px;
}

/* guide */
#guide {
    background-color: rgb(226, 226, 226);
}

#guide .guide__img img {
    border-radius: 50%;
    width        : 200px;
    height       : 170px;
}

#checkdate {
    background-color: rgb(153, 197, 82);
}

#checkdate i {
    font-size: 50px;
}

/* footer  */
#footer1 {
    background-color: rgb(230, 230, 230);
}

#footer1 p {
    font-size  : 13px;
    color      : brown;
    font-weight: 500;
}

.footer__icons i {
    font-size : 25px;
    padding   : 10px;
    transition: transform .2s;
    color     : brown;
}

.footer__icons i:hover {
    transform  : scale(1.5);
    color      : gold;
    text-shadow: 2px 2px 5px black;
}

.footer__item a,
h5 {
    font-weight: 700;
    font-size  : 15px;
    padding    : 3px;
    transition : transform .2s;
    color      : brown;
}

.footer__item a:hover {
    transform  : scale(1.5);
    color      : rgb(118, 255, 203);
    text-shadow: 2px 2px 5px black;
}

.footer__item h4 {
    color        : rgb(57, 75, 28);
    font-weight  : 800;
    font-size    : 18px;
    margin-bottom: 20px;
    padding-left : 15px;
}

.footer__content {
    display        : flex;
    justify-content: space-between;
}

.footer__item {
    width  : 20%;
    padding: 10px 5px;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}
.form__top{
    background-color: rgb(103, 155, 74);
}
.form__content{
    background-color: rgb(223, 223, 223);
}
.modal-body{
    border: none !important;
    padding: 0% !important;
}
@media only screen and (max-width: 768px) {
    .inspire__img--dis {
        margin-top: 5%;
    }
    .inspire__img {
        height             : 210px;
        overflow           : hidden;
    }

    .inspire__img p,
    .inspire__img h3 {
        margin-top: 140px;
        transition: .5s;
    }

    .inspire__img:hover p,
    .inspire__img:hover h3 {
        margin-top: 0px;
    }

    .inspire__grid {
        display              : grid;
        grid-template-columns: 1;
        grid-template-rows   : 6;
        grid-template-areas  :
            'a'
            'b'
            'c'
            'd'
            'e'
            'f';
        grid-gap: 2px;
    }

    #guide .guide__img img {
        border-radius: 50%;
        width        : 100px;
        height: 100px;
    }

    .footer__item {
        width: 100%;
    }

    .footer__content {
        display       : flex;
        flex-direction: column;
    }
}
